









#b1{

background-color: rgb(215, 14, 14);

}

#b2{

    background-color: rgb(215, 149, 25);
    
    }

    
#b3{

    background-color: rgb(47, 219, 32);
    
    }

#b4{

background-color: gray;

}
    
    hr{


        width: 54%;
        margin-left: 23%;
    }