body{background-color: white;}

.c1{



    background-color: rgb(15, 216, 247);  
    width: 95%;
    height:100%;
    margin-top: 200px;
    margin-left: 140px;
    float: none;
    position: absolute;
   text-align: center;
    font-size: 140px; 
    color: white;

    font-size: 200px;
    text-align: center;
    padding: 40px;
        float: none;
    


}


.c2{





}

